* {
  margin: 0;
}

:root {
  --medium-yellow: #ffcd60;
  --light-yellow: #fee893;
  --medium-dark: #181f29;
  --dark: #06050a;
  --brown: #594837;
  --super-light-white: #f5f4f4;
  --light-white: #F0F0F0;
  --medium-white: #bababa;
  --white: #ffffff;
}

body {
  background-color: var(--super-light-white);
}

.div-login-content-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-login-container {
  width: 370px;
  background-color: var(--white);
  padding-inline: 20px;
  padding-block: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-login {
  width: 100%;
  margin-top: 15px;
}
